# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
resources

#reports
report.*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
out/

# Dependency directories (remove the comment below to include it)

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*